header nav{
    height: 50px;
    background-color: rgb(76, 76, 210);
}

aside {
    width: 15%;
    float: left;
    height: 800px;
}

aside ul li a {
    color: black;
    width: 100%;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

main {
    width: 85%;
    float: left;
    height: auto;
    background: white;
}

footer {
    clear: both;
    height: 80px;
}

